<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="br.ufpe.cin.target.tcg.output">
      <outputDocumentExtension
            outputDocumentImplementation="br.ufpe.cin.target.htmloutput.html.HTMLFileFormatter">
      </outputDocumentExtension>
   </extension>
   <extension
         point="br.ufpe.cin.target.tcg.extractor">
      <extractorDocumentExtension
            extractorDocumentImplementation="br.ufpe.cin.target.htmloutput.html.HTMLExtractor">
      </extractorDocumentExtension>
   </extension>

</plugin>
