<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.motorola.btc.research.target.scheme"
            sequence="F12"/>
     <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.motorola.btc.research.target.scheme"
            sequence="F1"/>
     <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.motorola.btc.research.target.scheme"
            sequence="ALT+F4"/>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.motorola.btc.research.target.core.TargetApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Target Perspective"
            class="com.motorola.btc.research.target.core.Perspective"
            id="com.motorola.btc.research.target.perspective">
      </perspective>
   </extension>
   <extension
         id="target_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.motorola.btc.research.target.core.application"
            name="TaRGeT">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="appName"
               value="TaRGeT">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="TaRGeT - Test and Requirements Generation Tool&#x0A;Version: 01.00.03I&#x0A;Label: RSCH-TARGT_N_01.00.03I&#x0A;&#x0A;(c) Copyright CIn-UFPE and Motorola, Inc. 2006-2008.&#x0A;All rights reserved.&#x0A;&#x0A;Credits to BTC Research Team.">
         </property>
         <property
               name="windowImages"
               value="icons/icon_128_128.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.motorola.btc.research.target.core.DefaultView"
            icon="icons/view_icon.jpg"
            id="com.motorola.btc.research.target.core.DefaultView"
            name="com.motorola.btc.research.target.core.DefaultView"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="com.motorola.btc.research.target.scheme"
            name="com.motorola.btc.research.target.scheme"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc file="toc.xml"/>
      <toc
            file="TaRGeTToc.xml"
            primary="true"/>
   </extension>

</plugin>
